@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

// Google Fonts
$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;

// Color
$white: #f9f9f9;
$black: #000;
$red: #FF4D4F;
$gray: #e7e7e7;